openapi: 3.1.1
info:
  title: Infoland Order Persister external API
  version: 0.1.0
  summary: An API that helps us persist and manipulate orders in Infoland
  description: Optional multiline or single-line description in [CommonMark](https://commonmark.org/help/) or HTML.
  termsOfService: https://ambita.com/terms
  contact:
    name: Infoland API Support
    email: api@ambita.com
    url: https://ambita.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html


servers:
  - url: https://api.ambbita.com/v1
    description: Main (production) server
  - url: https://beta-api.ambita.com
    description: Internal staging server for testing

tags:
  - name: cart
  - name: orders
  - name: assets

paths:
  /orders:
    description: Order operations
    get:
      tags:
        - orders
    post:
      tags:
        - orders
    put:
      tags:
        - orders
    delete:
      tags:
        - orders


  /assets:
    description: Asset operations
    get:
      tags:
        - assets
    post:
      tags:
        - assets
    put:
      tags:
        - assets
    delete:
      tags:
        - assets

  /cart:
    description: Cart operations
    get:
      tags:
        - cart
    post:
      tags:
        - cart
      summary: Add product to the shopping cart
      requestBody:
        description: Coming....
        required: true
        content:
          application/json:
            schema: 
              $ref: "#/components/schemas/Cart"
      responses:
        "201":
          description: Created
    put:
      tags:
        - cart
    delete:
      tags:
        - cart

components:
  schemas:
    Cart:
      properties:
        product_code:
          type: string
        json_data:
          type: string
webhooks:

